 /* CSS del desafio 5
  p {
    border: solid black 2px;
    height: 33em;
    width: 21em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(231, 231, 241);
}  */

/* .iniciar {color: #e60ae6;} */
body {
    background-image:url(fondo.jpg);
}
.caja { 
    background-color: white;
    color:rgb(163, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center ; 
    border: solid black 2px;
    height: 30em;
    width: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
    border: 3px solid rgb(153, 147, 147);
  } 

img {
   width: 150px;
    height: 150px;
    display: block;
 margin: 0px auto;;
}

input[type="text"],
input[type="email"] {

  border: 2px solid rgb(17, 17, 17);
  padding: 10px; 
  width: 200px;
  height:20px;
}
#entrar {background-color: rgb(93, 173, 93);
    font-weight: bold;
    width: 225px;
    height:50px;
    text-align: center 
}
#contraseña { 
    background-color: white ;
    color:rgb(10, 13, 15);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    border-radius: 20px;
}

/* color: Define el color de la fuente del elemento.
background: Define el color de fondo del elemento.
text-shadow: Define un efecto de sombra sobre el elemento (soportado por Chrome y Safari y Firefox 17 y 
superior). */